; vim: set ft=gitconfig:

[include]
    path = ~/.gitconfig_user.inc
[includeIf "gitdir:~/notes-git/"]
    path = ~/.gitconfig_nas.inc
[includeIf "gitdir:~/pictures-git/"]
    path = ~/.gitconfig_nas.inc
[includeIf "gitdir:~/rs/"]
    path = ~/.gitconfig_user_rs.inc
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[gpg]
[tag]
[alias]
    stt = status
    chk = checkout
    chk-prev = switch -
    p = pull
    s = status -s
    i = add -i
    unstage = restore --staged
    c = commit -S
    undo-commit = reset --soft HEAD^
    us = reset HEAD
    b = branch
    amend = commit -S --amend --reuse-message=HEAD
    cd = diff --cached
    sd = diff --staged
    ud = diff HEAD ; diff unstaged changed
    hunk = add --patch
    pr = push --set-upstream origin HEAD
    pull-rsub = pull --recurse-submodules
    rebase-to = rebase -i
    clean-dry-run = clean -d -n
    clean-force = clean -d -f
    current-branch = branch --show-current
    stash-unstage = !sh -c 'git stash save --keep-index "Unstage on $(git branch --show-current)"'
    stash-stage = !sh -c 'git stash save "Staged on $(git branch --show-current)"'

[url "git@github.com"]
    insteadOf = gh:

[pull]
	rebase = false
	ff = only
[init]
	defaultBranch = master
