[submodule "vimix-gtk-themes"]
	path = vimix-gtk-themes
	url = https://github.com/vinceliuice/vimix-gtk-themes
[submodule "vimix-icon-theme"]
	path = vimix-icon-theme
	url = https://github.com/vinceliuice/vimix-icon-theme
[submodule "Nordic"]
	path = Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "paper-icon-theme"]
	path = paper-icon-theme
	url = https://github.com/snwh/paper-icon-theme
[submodule "polybar-spotify"]
	path = polybar-spotify
	url = git@github.com:Jvanrhijn/polybar-spotify.git
[submodule "flat-remix"]
	path = flat-remix
	url = git@github.com:daniruiz/flat-remix.git
[submodule "nord-gnome-terminal"]
	path = nord-gnome-terminal
	url = https://github.com/arcticicestudio/nord-gnome-terminal.git
