; vim: set ft=gitconfig:

[user]
    name = Tuan Ha
    email = tuanht@users.noreply.github.com
    signingkey = 8812D125486B31E7
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[gpg]
[tag]
[alias]
    stt = status
    chk = checkout
    p = pull
    s = status -s
    i = add -i
    c = commit -S
    u = reset --soft HEAD^
    us = reset HEAD
    b = branch
    a = commit -S --amend --reuse-message=HEAD
    cd = diff --cached
    sd = diff --staged
    ud = diff HEAD ; diff unstaged changed
    hunk = add --patch
    pr = push --set-upstream origin HEAD
    pull-rsub = pull --recurse-submodules
    rebase-to = rebase -i

[url "git@github.com"]
    insteadOf = gh:

[pull]
	rebase = false
	ff = only
